.lien
{
    background-color: burlywood;
    color: black;
    padding: 5px;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    margin: 4px 2px;
    border-radius:25px;
}
header nav
{
    width: 400px;
}
header nav ul
{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
header h1
{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 20px;
}
header
{
    display: flex;
    justify-content: space-between;
    
}